<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Competition Correct Entries</p>
  </div>
</section>

{{> adminNav}}

<div class="container is-max-fullhd">
    <div class="content my-6">
        <h1 class="title">Competition Correct Entries</h1>
    </div>







</div>