<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Competition Correct Entries</p>
  </div>
</section>

{{> adminNav}}

<div class="container is-max-fullhd">
    <div class="content my-6">
        <h1 class="title">Competition Correct Entries</h1>
    </div>

    <div class="field">
        <label class="label">Competition Title</label>
        <div class="control has-icons-left">
            <input id="compTitle" name="compTitle" class="input" type="text" value="{{competition.title}}" disabled>
            <span class="icon is-small is-left">
                <i class="fa-solid fa-heading"></i>
            </span>
        </div>
    </div>





</div>