<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Discounts</p>
  </div>
</section>

{{> adminNav}}



<div class="content">
                                                    <p>Postal entries to this competition receive {{competition.maxPostalVotes}} ticket.</p>
                                                    <p>You may enter the competition using the Postal Entry Route by complying with the following conditions:</p>
                                                    <ul>
                                                        <li>Send your entry on an unenclosed postcard to the Promoter at the following address:
                                                        <address>[ADDRESS]</address>
                                                        </li>
                                                        <li>Include with your entry the following information:
                                                        <ul>
                                                            <li>Your full name;</li>
                                                            <li>Your address;</li>
                                                            <li>A contact telephone number and the email address linked to your account; and</li>
                                                            <li>Your chosen competition, and your answer to the Competition Question.</li>
                                                        </ul>
                                                        </li>
                                                        <li>Incomplete or illegible entries will be disqualified;</li>
                                                        <li>You may make multiple free entries for any competition (up to any limit placed on entries by the Promoter) but each free entry must be submitted and posted to the Promoter separately. Bulk entries will not be accepted as multiple entries and if a bulk entry is received, it will be counted as one single entry;</li>
                                                        <li>By entering the competition, you are confirming that you are eligible to enter and accept these terms and conditions;</li>
                                                        <li>Your entry must be received by the Promoter prior to the Closing Date. Entries received after the Closing Date will not be entered into the random draw. If an entry is received by the Postal Entry Route within 72 hours after the Closing Date, the Entrant will receive a credit equal to the cost of entry via the Online Entry Route to the draw, which will enable the Entrant to enter an alternative draw(s) of their choice on the Website/App using the Online Entry Route;</li>
                                                        <li>The Promoter will email each Entrant who has submitted a valid entry via the Postal Entry Route to confirm their ticket number;</li>
                                                        <li>Entrants must have created an account on the Website/App for the free entry to be processed. All details on the postcard must correspond to the details on the account to receive the order confirmation and ticket number. Postal entries received without a registered account cannot be processed. Entrants must add an address to the related account for entries to be processed.</li>
                                                    </ul>
                                                </div>