<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Create Competition</p>
  </div>
</section>

{{> adminNav}}

<div class="container is-max-desktop mb-4">
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Competitions</a></li>
            <li class="is-active"><a href="#" aria-current="page">Create Competition</a></li>
        </ul>
    </nav>
</div>

{{#if errors}}
    <div class="container is-max-desktop mb-4">
        <div class="notification is-danger is-light">
            {{#each error}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}
{{#if hasSuccess}}
    <div class="container is-max-desktop mb-4">
        <div class="notification is-success is-light">
            {{#each success}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}


<div class="container is-max-widescreen">
    <form action="/admin/createCompetition" method="post">
        <div class="card">
            <div class="card-content">
                <label class="label">Main Image</label>
                <div class="container">
                    <figure class="image">
                    <img
                        id="mainImageDisplay"
                        src=""
                        alt="Competition Image"
                        style="max-width: 400px; max-height: 400px"    
                    />
                    </figure>

                    <div class="file is-normal has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="mainImageUpload" onchange="document.getElementById('mainImageDisplay').src = window.URL.createObjectURL(this.files[0])"/>
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label"> Upload Main Image </span>
                            </span>
                            <span class="file-name"> ... </span>
                        </label>
                    </div>

                    <label class="label">Additional Image(s)</label>
                    <div class="columns is-multiline" id="additionalImageColumns">
                    </div>

                    <div class="file is-normal has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="additionalImages" id="additionalImages" multiple />
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label"> Upload Additional Image(s) </span>
                            </span>
                            <span class="file-name"> ... </span>
                        </label>
                    </div>


                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control has-icons-left">
                            <input id="title" name="title" class="input is-large" type="text" placeholder="Title" value="{{competition.title}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-heading"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Cash Alternative</label>
                        <div class="control has-icons-left">
                            <input id="cashAlternative" name="cashAlternative" class="input" type="text" placeholder="Cash Alternative">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-sterling-sign"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Price</label>
                        <div class="control has-icons-left">
                            <input id="price" name="price" class="input is-primary" type="text" placeholder="Price">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-sterling-sign"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Discount Price (Leave empty if no discount)</label>
                        <div class="control has-icons-left">
                            <input id="discountPrice" name="discountPrice" class="input is-danger" type="text" placeholder="Discount Price">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-tag"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Max Entries</label>
                        <div class="control has-icons-left">
                            <input id="maxEntries" name="maxEntries" class="input" type="text" placeholder="Max Entries">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Max Entries Per Person</label>
                        <div class="control has-icons-left">
                            <input id="maxEntriesPerPerson" name="maxEntriesPerPerson" class="input" type="text" placeholder="Max Entries Per Person">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Max Postal Votes Per Person</label>
                        <div class="control has-icons-left">
                            <input id="maxPostalVotes" name="maxPostalVotes" class="input" type="text" placeholder="Max Postal Votes Per Person" value="1">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Draw Date (Format: 2024-12-25:19:00)</label>
                        <div class="control has-icons-left">
                            <input id="drawDate" name="drawDate" class="input" type="text" placeholder="Draw Date">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Entry Close Date (Format: 2024-12-25:18:00)</label>
                        <div class="control has-icons-left">
                            <input id="entryCloseDate" name="entryCloseDate" class="input" type="text" placeholder="Entry Close Date">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-clock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Question Text</label>
                        <div class="control has-icons-left">
                            <input id="questionText" name="questionText" class="input" type="text" placeholder="Question Text">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Question Answers (Format: Answer1,Answer2,Answer3,Answer4)</label>
                        <div class="control has-icons-left">
                            <input id="questionAnswers" name="questionAnswers" class="input" type="text" placeholder="Question Answers">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-circle-question"></i>
                            </span>
                        </div>
                    </div>  
                    <div class="field">
                        <label class="label">Correct Answer</label>
                        <div class="control has-icons-left">
                            <input id="correctAnswer" name="correctAnswer" class="input" type="text" placeholder="Correct Answer">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Competition Description</label>
                        <div class="control">
                            <textarea id="description" name="description" class="textarea" placeholder="Competition Description"></textarea>
                        </div>
                    </div>

                    <input type="hidden" name="csrfToken" value="{{csrfToken}}">  
                    <button type="submit" class="button is-medium is-fullwidth is-link">Save & Preview Competition</button>
                </div>
            </div>
        </div>
    </form>
</div>
                                        