<section class="hero is-danger">
    <div class="hero-body has-text-centered">
        <p class="title">Create Draw Result Card</p>
    </div>
</section>

{{> adminNav}}

<div class="container is-max-desktop mb-4">
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin/winners">Draw Results</a></li>
            <li class="is-active"><a href="#" aria-current="page">Create Draw Result Card</a></li>
        </ul>
    </nav>
</div>

{{#if errors}}
    <div class="container is-max-desktop mb-4">
        <div class="notification is-danger is-light">
            {{#each error}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}
{{#if hasSuccess}}
    <div class="container is-max-desktop mb-4">
        <div class="notification is-success is-light">
            {{#each success}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}


<div class="container is-max-widescreen">
    <form action="/admin/createDrawResult" method="post">
        <div class="card">
            <div class="card-content">

                    <div class="field">
                        <label class="label">Competition ID</label>
                        <div class="control has-icons-left">
                            <input id="compID" name="compID" class="input" type="text" placeholder="compID">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-database"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Winner Username</label>
                        <div class="control has-icons-left">
                            <input id="username" name="username" class="input" type="text" placeholder="Winner Username">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control has-icons-left">
                            <input id="title" name="title" class="input" type="text" placeholder="Title" value="[Winner Name] won this [Competition Title]!">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-heading"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Winner Card Description</label>
                        <div class="control has-icons-left">
                            <input id="description" name="description" class="input" type="text" placeholder="Description" value="Winning ticket - #[NUMBER]! Draw date: [DRAW DATE]">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-bars"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Winning Ticket Number</label>
                        <div class="control has-icons-left">
                            <input id="winningTicketNumber" name="winningTicketNumber" class="input" type="text" placeholder="Winning Ticket Number">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Is Visible</label>
                        <i class="fa-solid fa-eye"></i>
                        <input id="visible" name="visible" type="checkbox" checked>
                        <label for="PostalCheckbox">Visible</label>
                    </div>

                    <input type="hidden" name="csrfToken" value="{{csrfToken}}">  
                    <button type="submit" class="button is-medium is-fullwidth is-link">Create Draw Result Card</button>
                </div>
            </div>
        </div>
    </form>
</div>
                                        