<div class="section">
    <article class="panel is-danger">
    <p class="panel-heading">
        <span class="icon"><i class="fa-solid fa-user-shield" aria-hidden="true"></i></span>
            <span>Admin Dashboard</span>
   
    <div class="tabs is-centered is-boxed">
    <ul>
        <li class="is-active">
        <a>
            <span class="icon is-small"
            ><i class="fa-solid fa-dice" aria-hidden="true"></i
            ></span>
            <span>Competitions</span>
        </a>
        </li>
        <li>
        <a>
            <span class="icon is-small"
            ><i class="fa-solid fa-user" aria-hidden="true"></i
            ></span>
            <span>Users</span>
        </a>
        </li>
        <li>
        <a>
            <span class="icon is-small"
            ><i class="fa-solid fa-crown" aria-hidden="true"></i
            ></span>
            <span>Winners</span>
        </a>
        </li>
        <li>
        <a>
            <span class="icon is-small"
            ><i class="fa-solid fa-percent" aria-hidden="true"></i></span>
            <span>Discounts</span>
        </a>
        </li>
    </ul>
    </div>


    <div class="panel-block">
        <p class="control has-icons-left">
        <input class="input is-danger" type="text" placeholder="Search" />
        <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
        </span>
        </p>
    </div>
    <a class="panel-block is-active">
        <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        bulma
    </a>
    <a class="panel-block">
        <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        marksheet
    </a>
    <a class="panel-block">
        <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        minireset.css
    </a>
    <a class="panel-block">
        <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        jgthms.github.io
    </a>
    </article>
</div>
