<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Discounts</p>
  </div>
</section>

{{> adminNav}}


<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="">
    </p>
    <button class="button is-pulled-left"><</button>
    <button class="button is-pulled-right">></button>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>