<div class="columns is-multiline is-gapless my-4">
    <div class="column mx-1">
        <a href="/admin" class="button is-danger is-fullwidth {{#unless active.dashboard}}is-outlined{{/unless}}">
            <span class="icon">
                <i class="fa-solid fa-dice"></i>
            </span>
            <span>Competitions</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/admin/drawResults" class="button is-danger is-fullwidth {{#unless active.drawResults}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-trophy"></i>
        </span>
        <span>Draw Results</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/admin/winners" class="button is-danger is-fullwidth {{#unless active.winners}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-crown"></i>
        </span>
        <span>Winners</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/admin/discounts" class="button is-danger is-fullwidth {{#unless active.discounts}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-percent"></i>
        </span>
        <span>Discounts</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/admin/users" class="button is-danger is-fullwidth {{#unless active.users}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-user"></i>
        </span>
        <span>Users</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/admin/admins" class="button is-danger is-fullwidth {{#unless active.admins}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-user-shield"></i>
        </span>
        <span>Admins</span>
        </a>
    </div>
</div>


<script>
    window.onload = function(){
    //Check File API support
    if(window.File && window.FileList && window.FileReader)
    {
        var filesInput = document.getElementById("additionalImages");
        
        filesInput.addEventListener("change", function(event){
            
            var files = event.target.files; //FileList object
            var output = document.getElementById("additionalImageColumns");
            
            for(var i = 0; i< files.length; i++)
            {
                var file = files[i];
                
                //Only pics
                if(!file.type.match('image'))
                  continue;
                
                var picReader = new FileReader();
                picReader.addEventListener("load",function(event){
                    var picFile = event.target;
                    var div = document.createElement("div");
                    
                    div.innerHTML = "<div class='column is-narrow'>" +
                                        "<div>" +
                                            "<figure class='image is-128x128 is-square'>" +
                                                "<img " +
                                                    "src='" + picFile.result + "' " +
                                                    "title='" + picFile.name + "' />" +
                                            "</figure>" +
                                        "</div>" +
                                    "</div>";
                    output.insertBefore(div,null);            
                });
                 //Read the image
                picReader.readAsDataURL(file);
            }                               
        });
    }
    else
    {
        console.log("Your browser does not support File API");
    }
}

function toggleEditInput(id, buttonId){
    var input = document.getElementById(id);
    var button = document.getElementById(buttonId);

    if (input.readOnly == true) {
        input.readOnly = false;
        button.disabled = true;
    }
}

function verifyCompAnswerAdmin(){
    //Get every button in questionsButtons div
    var answer1Button = document.getElementById("answer1PostalButton");
    var answer2Button = document.getElementById("answer2PostalButton");
    var answer3Button = document.getElementById("answer3PostalButton");
    var answer4Button = document.getElementById("answer4PostalButton");
    var errorMessage = document.getElementById("errorMessage");

    var buttons = new Array(answer1Button, answer2Button, answer3Button, answer4Button);
    var isFocused = false;
    //Remove is active from every button
    for (i = 0; i <= buttons.length - 1; i++) {
        //If button has is-focused class
        if (buttons[i].classList.contains("is-focused")){
            isFocused = true;
            console.log(isFocused);
        }
    }
    if(isFocused == false){
        errorMessage.innerText = "Please select an answer";
    }
    return isFocused;
}

function answerPostalQuestionsButtons(buttonNumber){

    //Get every button in questionsButtons div
    var answer1Button = document.getElementById("answer1Button");
    var answer2Button = document.getElementById("answer2Button");
    var answer3Button = document.getElementById("answer3Button");
    var answer4Button = document.getElementById("answer4Button");
    var addToBasketButton = document.getElementById("addToBasketButton");

    var buttons = new Array(answer1Button, answer2Button, answer3Button, answer4Button);

    //Remove is active from every button
    for (i = 0; i <= buttons.length - 1; i++) {
        buttons[i].classList.remove("is-focused");

        //If button has a tick icon, remove
        if (buttons[i].children.length > 1){
            buttons[i].children[0].remove();
        }
    }

    //set is-active to the button just clicked
    // Add tick icon to button clicked
    buttons[buttonNumber-1].className += " is-focused";
    buttons[buttonNumber-1].insertAdjacentHTML('afterbegin', '<span class="icon"><i class="fa-solid fa-check"></i></span>' );

    var questionAnswer = buttons[buttonNumber-1].innerText;

    //Update addToBasketButton URL
    var url = addToBasketButton.getAttribute("href");
    var tempArray = url.split("/");
    var newHREF = "/"+tempArray[1]+"/"+tempArray[2]+"/"+questionAnswer+"/"+tempArray[4];
    addToBasketButton.href=newHREF;
}
</script>