<div class="columns is-multiline is-gapless my-4">
    <div class="column mx-1">
        <a href="/admin" class="button is-danger is-fullwidth {{#unless active.dashboard}}is-outlined{{/unless}}">
            <span class="icon">
                <i class="fa-solid fa-dice"></i>
            </span>
            <span>Competitions</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/admin/winners" class="button is-danger is-fullwidth {{#unless active.winners}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-crown"></i>
        </span>
        <span>Winners</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/admin/discounts" class="button is-danger is-fullwidth {{#unless active.discounts}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-percent"></i>
        </span>
        <span>Discounts</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/admin/users" class="button is-danger is-fullwidth {{#unless active.users}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-user"></i>
        </span>
        <span>Users</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/admin/admins" class="button is-danger is-fullwidth {{#unless active.admins}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-user-shield"></i>
        </span>
        <span>Admins</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/logout" class="button is-danger is-fullwidth is-outlined">
        <span class="icon">
            <i class="fa-solid fa-right-from-bracket"></i>
        </span>
        <span>Logout</span>
        </a>
    </div>
</div>


<script>
    window.onload = function(){
    //Check File API support
    if(window.File && window.FileList && window.FileReader)
    {
        var filesInput = document.getElementById("additionalImages");
        
        filesInput.addEventListener("change", function(event){
            
            var files = event.target.files; //FileList object
            var output = document.getElementById("additionalImageColumns");
            
            for(var i = 0; i< files.length; i++)
            {
                var file = files[i];
                
                //Only pics
                if(!file.type.match('image'))
                  continue;
                
                var picReader = new FileReader();
                picReader.addEventListener("load",function(event){
                    var picFile = event.target;
                    var div = document.createElement("div");
                    
                    div.innerHTML = "<div class='column is-narrow'>" +
                                        "<div>" +
                                            "<figure class='image is-128x128 is-square'>" +
                                                "<img " +
                                                    "src='" + picFile.result + "' " +
                                                    "title='" + picFile.name + "' />" +
                                            "</figure>" +
                                        "</div>" +
                                    "</div>";
                    output.insertBefore(div,null);            
                });
                 //Read the image
                picReader.readAsDataURL(file);
            }                               
        });
    }
    else
    {
        console.log("Your browser does not support File API");
    }
}
</script>