<footer class="footer">
  <div class="content has-text-centered">
    <div class="columns">
    <div class="column">[LOGO]</div>
    <div class="column">
        <p><a href="/termsandconditions">Terms & Conditions</a></p>
        <p><a href="/websiteTerms">Website Terms</a></p>
        <p>Reviews</p>
        <p><a href="/websiteSecurity">Security</a></p>
    </div>
    <div class="column">
        <p><a href="/privacyPolicy">Cookie & Privacy Policy</p></a>
        <p><a href="/responsiblePlaying">Responsible Playing</a></p>
        <p><a href="/faq">FAQ</a></p>
    </div>
    <div class="column">
        <p>© All rights reserved</p>
        <p>
                <a class="button is-facebook" href="https://www.facebook.com">
                <span class="icon"><i class="fab fa-facebook"></i></span>
                <span>Facebook</span>
            </a>
        </p>
        <p>
            <a href="https://instagram.com" class="button is-link">
                <span class="icon"><i class="fa-brands fa-instagram"></i></span>
                <span>Instagram</span>
            </a>
        </p>
        <p>
            <a href="https://tiktok.com" class="button is-dark">
                <span class="icon"><i class="fab fa-tiktok"></i></span>
                <span>TikTok</span>
            </a>
        </p>
    </div>
    </div>
  </div>
</footer>