<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
        GIVEAWAY
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">

            <a href="/" class="navbar-item {{#if active.home}}is-active{{/if}}">
              Competitions
            </a>

            <a href="/winners" class="navbar-item {{#if active.winners}}is-active{{/if}}">
              Winners
            </a>

            <a href="/results" class="navbar-item {{#if active.results}}is-active{{/if}}">
              Draw Results
            </a>

            <a class="navbar-item {{#if active.faq}}is-active{{/if}}" href="/faq">
              FAQ
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {{#ifGreaterThan0 session.basket.totalQty}}
                    <a href="/cart" class="button is-primary">
                        <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
                        <span title="Badge top right" class="badge is-danger is-right">{{session.basket.totalQty}}</span>
                        Basket
                    </a>
                    {{else}}
                    <a href="/basket" class="button is-primary">
                        <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
                        <span>Basket</span>
                    </a>
                    {{/ifGreaterThan0}}
                    {{# if login}}
                    <a href="/user" class="button is-light">
                        <span class="icon"><i class="fa-regular fa-user"></i></span>
                        <span>Account</span>
                    </a>
                    {{else}}
                    <a href="/login" class="button is-light">
                        <span class="icon"><i class="fa-regular fa-user"></i></span>
                        <span>Login / Register</span>
                    </a>
                    {{/if}}
                    <a href="/admin" class="button is-danger">
                        <span class="icon"><i class="fa-solid fa-user-shield"></i></span>
                        <span>Admin</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>