<div class="block has-text-centered mt-6">
    <span class="icon is-large">
        <i class="fa-brands fa-cc-visa fa-2x"></i>
    </span>
    <span class="icon is-large">
        <i class="fa-brands fa-cc-mastercard fa-2x"></i>
    </span>

    <span class="icon is-large">
        <i class="fa-brands fa-cc-paypal fa-2x"></i>
    </span>

    <span class="icon is-large">
        <i class="fa-brands fa-google-pay fa-2x"></i>
    </span>

    <span class="icon is-large">
        <i class="fa-brands fa-apple-pay fa-2x"></i>
    </span>
</div>