<div class="columns is-multiline is-gapless my-4">
  <div class="column mx-1"><a href="/user" class="button is-link is-fullwidth {{#unless active.dashboard}}is-outlined{{/unless}}">Dashboard</a></div>
  <div class="column mx-1"><a href="/user/address" class="button is-link is-fullwidth {{#unless active.address}}is-outlined{{/unless}}">Address</a></div>
  <div class="column mx-1"><a href="/user/accountDetails" class="button is-link is-fullwidth {{#unless active.accountDetails}}is-outlined{{/unless}}">Account Details</a></div>
  <div class="column mx-1"><a href="/user/communicationPreferences" class="button is-link is-fullwidth {{#unless active.communicationPreferences}}is-outlined{{/unless}}">Communication Preferences</a></div>
  <div class="column mx-1"><a href="/user/safePlaying" class="button is-link is-fullwidth {{#unless active.safePlaying}}is-outlined{{/unless}}">Safe Playing</a></div>
  <div class="column mx-1"><a href="/" class="button is-link is-fullwidth is-outlined">Logout</a></div>
</div>

