<div class="columns is-multiline is-gapless my-4">
    <div class="column mx-1">
        <a href="/user" class="button is-link is-fullwidth {{#unless active.dashboard}}is-outlined{{/unless}}">
            <span class="icon">
                <i class="fa-solid fa-chart-simple"></i>
            </span>
            <span>Dashboard</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/user/address" class="button is-link is-fullwidth {{#unless active.address}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-address-book"></i>
        </span>
        <span>Address</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/user/accountDetails" class="button is-link is-fullwidth {{#unless active.accountDetails}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-pencil"></i>
        </span>
        <span>Account Details</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/user/rewards" class="button is-link is-fullwidth {{#unless active.rewards}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-medal"></i>
        </span>
        <span>Rewards</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/user/safePlaying" class="button is-link is-fullwidth {{#unless active.safePlaying}}is-outlined{{/unless}}">
        <span class="icon">
            <i class="fa-solid fa-circle-info"></i>
        </span>
        <span>Safe Playing</span>
        </a>
    </div>
    <div class="column mx-1">
        <a href="/" class="button is-link is-fullwidth is-outlined">
        <span class="icon">
            <i class="fa-solid fa-right-from-bracket"></i>
        </span>
        <span>Logout</span>
        </a>
    </div>
</div>

