<!DOCTYPE html>
<html id="HTMLTheme" class="theme-dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/FAall.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bulma.css' />
    <link rel='stylesheet' href='/stylesheets/bulma-extensions.min.css' />
    <link rel='stylesheet' href='/stylesheets/bulma-badge.min.css' />
  </head>
  {{> header}}
  <body class="has-navbar-fixed-top">

    <div class="block">
      {{{body}}}
    </div>
    
  </body>
  {{> footer}}
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/bulma.js"></script>
  <script src="/javascripts/bulma-extensions.min.js"></script>
  <script type="text/javascript" src="/javascripts/bulma-slider.min.js"></script>
  <script>bulmaSlider.attach();</script>
</html>