<!DOCTYPE html>
<html id="HTMLTheme" class="theme-dark">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bulma.css' />
    <link rel='stylesheet' href='/stylesheets/bulma-extensions.min.css' />
    <link rel='stylesheet' href='/stylesheets/bulma-badge.min.css' />
    

  </head>
  {{> header}}
  <body class="has-navbar-fixed-top">

    <div class="block">
      {{{body}}}
    </div>
    
  </body>
  {{> footer}}
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/bulma.js"></script>
  <script src="/javascripts/bulma-extensions.min.js"></script>
  <script type="text/javascript" src="/javascripts/bulma-slider.min.js"></script>
  <script>bulmaSlider.attach();</script>
</html>