<section class="hero is-info">
  <div class="hero-body">
    <p class="title">Basket</p>
  </div>
</section>

<section class="hero">
  <div class="hero-body">

    <div class="container is-max-desktop">
        <div class="columns has-background-dark is-vcentered">
            <div class="column">
                <div class="columns is-mobile">
                    <div class="column">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                <img
                                    src="https://bulma.io/assets/images/placeholders/96x96.png"
                                    alt="Placeholder image"
                                />
                                </figure>
                            </div>
                            <div class="media-content py-1">
                                <p class="title is-6">Win this Xbox Series X 1TB</p>
                                <p class="subtitle is-6">Answer: <strong>Monday</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns is-mobile">
                    <div class="column">
                        <div class="buttons has-addons is-centered">
                            <button class="button" onclick="updateTicketCartCount('-')">-</button>
                            <button id="ticketButtonCartCount" class="button is-static">10</button>
                            <button class="button js-modal-trigger" data-target="modal-js-example">+</button>
                        </div>
                    </div>
                    <div class="column is-3 is-flex is-justify-content-center is-align-items-center">
                        <p class="subtitle is-6"><strong>£19.80</strong></p>
                    </div>
                    <div class="column is-2 is-flex is-justify-content-center is-align-items-center">
                        <span class="icon">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container is-max-desktop mt-6">
        <div class="columns is-vcentered">
            <div class="column is-three-fifths"></div>
                <div class="column">

                    <div class="columns is-multiline">
                        <div class="column is-full is-flex is-justify-content-center is-align-items-center">
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Coupon Code">
                                </div>
                                <div class="control">
                                    <button class="button is-link">Apply Coupon</button>
                                </div>
                            </div>
                        </div>
                        <div class="column is-full">
                            <p class="subtitle is-4 is-pulled-left"><strong>Total</strong></p>
                            <p class="subtitle is-4 is-pulled-right"><strong>£29.70</strong></p>
                        </div>
                        <div class="column is-full">
                            <button class="button is-medium is-fullwidth is-primary">Proceed to Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- if Empty -->

<div class="block">
  <div class="container my-6">
    <h1 class="title is-2 has-text-centered">Your basket is currently empty</h1>
  </div>
</div>

<div class="buttons is-centered">
  <a href="/" class="button is-large is-link">Return to Competitions</a>
</div>