<section class="hero is-info">
  <div class="hero-body">
    <p class="title">Basket</p>
  </div>
</section>

















<!-- if Empty -->

<div class="block">
  <div class="container my-6">
    <h1 class="title is-2 has-text-centered">Your basket is currently empty</h1>
  </div>
</div>

<div class="buttons is-centered">
  <button class="button is-large is-link">Return to Competitions</button>
</div>