<section class="hero is-info">
  <div class="hero-body">
    <p class="title">Basket</p>
  </div>
</section>



<div class="container is-max-desktop mt-6">
    <div class="columns has-background-link is-vcentered">
        <div class="column is-6 has-background-dark">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                    <img
                        src="https://bulma.io/assets/images/placeholders/96x96.png"
                        alt="Placeholder image"
                    />
                    </figure>
                </div>
                <div class="media-content py-1">
                    <p class="title is-6">Win this Xbox Series X 1TB</p>
                    <p class="subtitle is-6">Answer: <strong>Monday</strong></p>
                </div>
            </div>
        </div>
        <div class="column is-3 is-centered">
            <div class="buttons has-addons is-centered">
                <button class="button is-dark" onclick="updateTicketCartCount('-')">-</button>
                <button id="ticketButtonCartCount" class="button is-static">10</button>
                <button class="button is-dark js-modal-trigger" data-target="modal-js-example">+</button>
            </div>
        </div>
        <div class="column is-2 has-background-dark">
            <p class="subtitle is-6"><strong>£19.80</strong></p>
        </div>
        <div class="column is-1">
            <span class="icon is-pulled-right">
                <i class="fa-solid fa-xmark"></i>
            </span>
        </div>
    </div>
</div>




<!-- if Empty -->

<div class="block">
  <div class="container my-6">
    <h1 class="title is-2 has-text-centered">Your basket is currently empty</h1>
  </div>
</div>

<div class="buttons is-centered">
  <a href="/" class="button is-large is-link">Return to Competitions</a>
</div>