<section class="hero is-link">
  <div class="hero-body">
    <p class="title">Checkout</p>
  </div>
</section>

<section class="hero">
  <div class="hero-body">

    <div class="container is-max-desktop mt-6">
        <div class="columns is-vcentered">
            <div class="column is-three-fifths"></div>
                <div class="column">

                    <div class="columns is-multiline">
                        <div class="column is-full is-flex is-justify-content-center is-align-items-center">
                            <p class="subtitle is-3"><strong>Your order</strong></p>
                        </div>
                        <div class="column is-full">
                            <table class="table is-bordered is-striped is-narrow is-fullwidth">
                                <thead>
                                    <tr>
                                    <th>Product</th>
                                    <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th>£29.70</th>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <th>£29.70</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                    <td>Win this Xbox Series X 1TB! <strong>x 10</strong></td>
                                    <th>£29.70</th>
                                    </tr>
                                    <tr>
                                    <td>Win this Xbox Series X 1TB! <strong>x 10</strong></td>
                                    <th>£29.70</th>
                                    </tr>
                                    <tr>
                                    <td>Win this Xbox Series X 1TB! <strong>x 10</strong></td>
                                    <th>£29.70</th>
                                    </tr>
                                    <tr>
                                    <td>Win this Xbox Series X 1TB! <strong>x 10</strong></td>
                                    <th>£29.70</th>
                                    </tr>
                                    <tr>
                                    <td>Win this Xbox Series X 1TB! <strong>x 10</strong></td>
                                    <th>£29.70</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="column is-full">
                            <p class="subtitle is-4 is-pulled-left"><strong>Total</strong></p>
                            <p class="subtitle is-4 is-pulled-right"><strong>£29.70</strong></p>
                        </div>
                        <div class="column is-full">
                            <div class="block has-text-centered">
                                <span class="icon is-large">
                                    <i class="fa-brands fa-cc-visa fa-2x"></i>
                                </span>
                                <span class="icon is-large">
                                    <i class="fa-brands fa-cc-mastercard fa-2x"></i>
                                </span>

                                <span class="icon is-large">
                                    <i class="fa-brands fa-google-pay fa-2x"></i>
                                </span>

                                <span class="icon is-large">
                                    <i class="fa-brands fa-apple-pay fa-2x"></i>
                                </span>
                            </div>
                        </div>
                        <div class="column is-full">
                            <button class="button is-medium is-fullwidth is-primary">Pay with Card</button>
                        </div>
                        <div class="column is-full">
                            <button class="button is-medium is-fullwidth is-warning">Pay with PayPal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


