<section class="hero is-link">
  <div class="hero-body">
    <p class="title">Checkout</p>
  </div>
</section>

<section class="hero">
  <div class="hero-body">

    <div class="container is-max-desktop mt-6">
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="mx-3">
                    <div class="container">
                        <p class="subtitle is-3"><strong>Billing details</strong></p>
                        <div class="field">
                            <label class="label">First Name</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Alex" value="Alex">
                                <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Last Name</label>
                            <div class="control has-icons-left">
                                <input class="input" type="email" placeholder="Smith" value="Smith">
                                <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                                </span>
                            </div>
                        </div><label class="label">Country / Region</label>
                        <div class="field">
                        <p class="control has-icons-left">
                            <span class="select is-fullwidth">
                            <select>
                                <option selected>United Kingdom</option>
                                <option>Select dropdown</option>
                                <option>With options</option>
                            </select>
                            </span>
                            <span class="icon is-small is-left">
                            <i class="fas fa-globe"></i>
                            </span>
                        </p>
                        </div>
                        <div class="field">
                            <label class="label">Street Address</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Street Address" value="6 Garland Place">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-road"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Street Address 2" value="">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-road"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Town / City</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Town / City" value="Dundee">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-city"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">State / County</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="State / County" value="Dundee City">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-map-location-dot"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Postcode</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Postcode" value="DD36HE">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Phone Number</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Phone Number" value="07845834867">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                            </div>
                        </div>
                        <label class="label">Date of Birth</label>
                        <div class="field is-grouped">
                            <p class="control">
                                <span class="select">
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                </span>
                            </p>
                            <p class="control">
                                <span class="select">
                                <select>
                                    <option>January</option>
                                    <option>February</option>
                                    <option>March</option>
                                </select>
                                </span>
                            </p>
                            <p class="control">
                                <span class="select">
                                <select>
                                    <option>2024</option>
                                    <option>2023</option>
                                    <option>2022</option>
                                </select>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Email Address</label>
                            <p class="control is-expanded has-icons-left has-icons-right">
                                <input class="input" type="email" placeholder="Email" value="alex@smith.com">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="column">

                    <div class="columns is-multiline">
                        <div class="column is-full is-flex is-justify-content-center is-align-items-center">
                            <p class="subtitle is-3"><strong>Your order</strong></p>
                        </div>
                        <div class="column is-full">
                            <table class="table is-bordered is-striped is-narrow is-fullwidth">
                                <thead>
                                    <tr>
                                    <th>Product</th>
                                    <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th>£29.70</th>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <th>£29.70</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                    <td>Win this Xbox Series X 1TB! <strong>x 10</strong></td>
                                    <th>£29.70</th>
                                    </tr>
                                    <tr>
                                    <td>Win this Xbox Series X 1TB! <strong>x 10</strong></td>
                                    <th>£29.70</th>
                                    </tr>
                                    <tr>
                                    <td>Win this Xbox Series X 1TB! <strong>x 10</strong></td>
                                    <th>£29.70</th>
                                    </tr>
                                    <tr>
                                    <td>Win this Xbox Series X 1TB! <strong>x 10</strong></td>
                                    <th>£29.70</th>
                                    </tr>
                                    <tr>
                                    <td>Win this Xbox Series X 1TB! <strong>x 10</strong></td>
                                    <th>£29.70</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="column is-full">
                            <p class="subtitle is-4 is-pulled-left"><strong>Total</strong></p>
                            <p class="subtitle is-4 is-pulled-right"><strong>£29.70</strong></p>
                        </div>
                        <div class="column is-full">
                            <div class="block has-text-centered">
                                <span class="icon is-large">
                                    <i class="fa-brands fa-cc-visa fa-2x"></i>
                                </span>
                                <span class="icon is-large">
                                    <i class="fa-brands fa-cc-mastercard fa-2x"></i>
                                </span>

                                <span class="icon is-large">
                                    <i class="fa-brands fa-google-pay fa-2x"></i>
                                </span>

                                <span class="icon is-large">
                                    <i class="fa-brands fa-apple-pay fa-2x"></i>
                                </span>
                            </div>
                        </div>
                        <div class="column is-full">
                            <button class="button is-medium is-fullwidth is-primary">Pay with Card</button>
                        </div>
                        <div class="column is-full">
                            <button class="button is-medium is-fullwidth is-warning">Pay with PayPal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


