<section class="hero is-link mb-6">
  <div class="hero-body">
    <p class="title">Draw Sunday 2nd June - 7pm</p>
  </div>
</section>

<div class="block">
    <div class="container">
        <div class="columns">
            <div class="column">

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img
                            src="https://bulma.io/assets/images/placeholders/1280x960.png"
                            alt="Placeholder image"
                        />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                            <img
                                src="https://bulma.io/assets/images/placeholders/96x96.png"
                                alt="Placeholder image"
                            />
                            </figure>
                        </div>
                        <div class="media-left">
                            <figure class="image is-48x48">
                            <img
                                src="https://bulma.io/assets/images/placeholders/96x96.png"
                                alt="Placeholder image"
                            />
                            </figure>
                        </div>
                        <div class="media-left">
                            <figure class="image is-48x48">
                            <img
                                src="https://bulma.io/assets/images/placeholders/96x96.png"
                                alt="Placeholder image"
                            />
                            </figure>
                        </div>
                        <div class="media-left">
                            <figure class="image is-48x48">
                            <img
                                src="https://bulma.io/assets/images/placeholders/96x96.png"
                                alt="Placeholder image"
                            />
                            </figure>
                        </div>
                        <div class="media-left">
                            <figure class="image is-48x48">
                            <img
                                src="https://bulma.io/assets/images/placeholders/96x96.png"
                                alt="Placeholder image"
                            />
                            </figure>
                        </div>
                        <div class="media-content"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="column">

                <h2 class="title is-spaced">
                    Win this Xbox Series X 1TB
                </h2>
                <h2 class="subtitle is-6">
                    Cash Alternative: £250
                </h2>

                <div class="content">
                    <p class="title is-1 is-spaced has-text-primary">£3.50</p>

                    <p class="subtitle is-6 has-text-left">Sold: 66%</p>
                    <progress class="progress is-info" value="45" max="100"></progress>
                    <p class="subtitle is-6 has-text-centered">666 / 1000</p>

                </div>

            </div>
        </div>

    </div>
</div>
      