<div class="block">
  <section class="hero is-link">
    <div class="hero-body has-text-centered">
      <p class="title">Draw Results</p>
    </div>
  </section>
</div>

<div class="block">
    <div class="container is-max-fullhd">
        <div class="columns is-vcentered  is-flex is-justify-content-center">
            {{# each drawResults}}
                {{#if this.visible}}

                    <!-- Column 1 -->
                    <div class="column is-4 has-text-centered">
                        <a href="/drawResult/{{this.id}}" class="is-link">
                            <div class="card">
                                <div class="card-image">
                                <figure class="image is-4by3">
                                    <img
                                    src="{{this.competitionReference.imagePath}}"
                                    alt="Draw Result Image"
                                    />
                                </figure>
                                </div>
                                <div class="card-content">
                                    <div style="height: 100px">
                                        <p class="title is-4">{{this.title}}</p>
                                        <p class="subtitle is-6">{{this.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>    
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>