<div class="block">
  <section class="hero is-link">
    <div class="hero-body has-text-centered">
      <p class="title">FAQ</p>
    </div>
  </section>
</div>


<div class="block">
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title my-4">When is the draw for a Competition?</p>
                <button class="card-header-icon" aria-label="more options" onclick="toggleElement('faq_01')">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div id="faq_01" class="card-content" style="display: none;">
                <div class="content">
                The competition draw date and time is stated on the entry page for each competition. Each draw is guaranteed to take place at the specified time regardless of how many tickets are sold.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title my-4">Why is my order ‘Cancelled’?</p>
                <button class="card-header-icon" aria-label="more options" onclick="toggleElement('faq_02')">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div id="faq_02" class="card-content" style="display: none;">
                <div class="content">
                Your order will show as cancelled if you did not complete the payment, or if your payment failed. Orders are automatically cancelled after 10 minutes if we do not receive a successful payment.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title my-4">How is the winner chosen?</p>
                <button class="card-header-icon" aria-label="more options" onclick="toggleElement('faq_03')">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div id="faq_03" class="card-content" style="display: none;">
                <div class="content">
                    <strong>Traditional draws:</strong>
                    <p>Every one of our traditional draws can be watched live via our Facebook and Youtube page for everyone to see. We use a random number generator to determine the winner. We prove we are live by reading out comments and answering customer queries as we go. If a traditional draw does not sell out and the first number generated is unsold, we will generate a new number until we have a winner.</p>
                    <strong>Instant wins:</strong>
                    <p>Instant win competitions are won by receiving a ticket number that matches a number on the list of pre determined prizes. If your ticket numbers match any of the numbers on the list of prizes, you will instantly win that prize! End prizes are classed as traditional draws.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title my-4">What is my draw number?</p>
                <button class="card-header-icon" aria-label="more options" onclick="toggleElement('faq_04')">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div id="faq_04" class="card-content" style="display: none;">
                <div class="content">
                    There are 3 ways in which you can find your ticket number for a draw.
                    <p>1. When you enter a competition your ticket numbers can be found on the confirmation page.</p>
                    <p>2. On the confirmation email sent to the email address assigned to your account.</p>
                    <p>3. Log into your account, go to <a href="/user">‘Dashboard’</a>, select ‘Current’ or ‘Past’ and click on ‘View ticket numbers’ to see your ticket numbers.</p>
                </div>
            </div>
        </div>
    </div>
</div>





