<div class="block">
  <section class="hero is-link">
    <div class="hero-body has-text-centered">
      <p class="title">FAQ</p>
    </div>
  </section>
</div>


<div class="block">
  <div class="container">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">When is the draw for a Competition?</p>
        <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </header>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Why is my order ‘Cancelled’?</p>
        <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </header>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">How is the winner chosen?</p>
        <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </header>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">What is my draw number?</p>
        <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </header>
    </div>
  </div>




</div>


