<div class="block">
  <section class="hero is-link">
    <div class="hero-body has-text-centered">
      <p class="title">How To Play</p>
    </div>
  </section>
</div>


<section class="hero is-dark">
    <div class="hero-body">
        <div class="container is-max-fullhd">
            <p class="title is-uppercase has-text-centered">How to Play</p>
            <div class="columns is-vcentered is-max-desktop">
                <div class="column">
                    <div class="media">
                        <div class="media-left is-large py-1">
                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-gift"></i></span>
                        </div>
                        <div class="media-content py-1">
                            <p class="subtitle is-6">Step 1</p>
                            <p class="title is-5">Select your prize and entries</p>
                        </div>
                    </div>
                </div>  
                <div class="column">
                    <div class="media">
                        <div class="media-left is-large py-1">
                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-comment-dots"></i></span>
                        </div>
                        <div class="media-content py-1">
                            <p class="subtitle is-6">Step 2</p>
                            <p class="title is-5">Answer the question correctly</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="media">
                        <div class="media-left is-large py-1">
                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-microphone"></i></span>
                        </div>
                        <div class="media-content py-1">
                            <p class="subtitle is-6">Step 3</p>
                            <p class="title is-5">Winner announced on Live Draw</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


