<div class="block">
  <section class="hero is-link">
    <div class="hero-body has-text-centered">
      <p class="title">How To Play</p>
    </div>
  </section>
</div>


<section class="hero is-dark my-6">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <div class="has-text-centered">
                    <span class="icon fas fa-2x mb-3">
                        <i class="fa-solid fa-ticket"></i>
                    </span>
                    <br />
                    <div>
                        <p class="title is-4" >How To Enter</p>
                    </div>
                </div>
            </div>    
            <div class="column is-6">
                <div class="notification content is-link mb-4">
                    <ol>
                        <li class="title is-5">Pick the competition you would like to enter.</li>
                        <li class="title is-5">Select the number of entires & answer the question.</li>
                        <li class="title is-5">Login or create a free account.</li>
                        <li class="title is-5">You will receive an email confirmation with your ticket numbers for that draw.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-link my-6">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <div class="notification content is-dark mb-4">
                    <ol>
                        <li class="title is-5">Winner draw dates are shown on the competition page.</li>
                        <li class="title is-5">Tune in LIVE on our Facebook page to watch us randomly generate a winner for the competition.</li>
                        <li class="title is-5">Our live stream draw will use google random number generator to pick the number.</li>
                        <li class="title is-5">All prizes are drawn on the guaranteed draw date shown on the competition page regardless if all tickets are sold.</li>
                    </ol>
                </div>
            </div>
            <div class="column is-6">
                <div class="has-text-centered">
                    <span class="icon fas fa-2x mb-3">
                        <i class="fa-solid fa-dice"></i>
                    </span>
                    <br />
                    <div>
                        <p class="title is-4" >The Draw</p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>

<section class="hero is-dark my-6">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <div class="has-text-centered">
                    <span class="icon fas fa-2x mb-3">
                        <i class="fa-solid fa-trophy"></i>
                    </span>
                    <br />
                    <div>
                        <p class="title is-4" >Prize Delivery & Winner Information</p>
                    </div>
                </div>
            </div>    
            <div class="column is-6">
                <div class="notification content is-link mb-4">
                    <ol>
                        <li class="title is-5">The winner will be contacted to confirm the shipping address.</li>
                        <li class="title is-5">The prize will be delivered to the winner ASAP (within 21 days) of the winner being announced. Delivery is free to UK.</li>
                        <li class="title is-5">The winners name and winning ticket number will be uploaded to our Draw Results page.</li>
                        <li class="title is-5">If you send us your photo with your prize, we will upload it to our Winners section.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>