
  <figure class="image is-6by3">
    <img
          src="/images/rs5.jpg"
          alt="Headline Prize"
    />
  </figure>


<div class="block has-background-dark py-2">
  <nav class="level">
    <div class="level-left">
      <div class="level-item has-text-centered px-6">
        <p class="subtitle is-2">
          <i class="fa-solid fa-trophy px-2"></i>
          <div>
            <p class="title">10</p>
            <p class="heading">Prizes Won</p>
          </div>
        </p>
      </div>

      <div class="level-item has-text-centered px-6">
        <p class="subtitle is-2">
          <i class="fa-solid fa-gift px-2"></i>
          <div>
            <p class="title">£1000</p>
            <p class="heading">Given in Prizes</p>
          </div>
        </p>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item has-text-centered px-6">
        <p class="subtitle is-2">
          <i class="fa-solid fa-star px-2"></i>
          <div>
            <p class="title">4.0</p>
            <p class="heading">Rating | 25 Reviews</p>
          </div>
        </p>
      </div>
    </div>
  </nav>
</div>

<div class="block">
  <div class="container">
    <h1 class="title is-2 has-text-centered is-uppercase">Upcoming Competitions</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="columns is-vcentered">

      <!-- Column 1 -->
      <div class="column has-text-centered">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://images.idgesg.net/images/article/2021/01/samsung-870-evo-sata-ssd-primary-100873962-orig.jpg?quality=50&strip=all"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div style="height: 120px">
              <p class="title is-4">Win this 2TB Samsung SSD Evo</p>
              <p class="subtitle is-6">Cash Alternative: £75</p>
            </div>


            <div class="content">
              <p class="title is-1 is-spaced has-text-primary">£2.00</p>

              <p class="subtitle is-6 has-text-left">Sold: 45%</p>
              <progress class="progress is-info" value="45" max="100"></progress>

              <button class="button is-medium is-fullwidth is-primary">Enter Now</button>

              <p><time datetime="2024-06-02 19:00">Draw Sunday 2nd June - 7pm</time></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Column 2 -->
      <div class="column has-text-centered">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="http://im.ziffdavisinternational.com/ign_es/screenshot/default/75105box3injpg-8bb66b_jj3d.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div style="height: 120px">
              <p class="title is-4">Win this LEGO StarWars Millennium Falcon</p>
              <p class="subtitle is-6">Cash Alternative: £75</p>
            </div>

            <div class="content">
              <p class="title is-1 is-spaced has-text-primary">£2.00</p>

              <p class="subtitle is-6 has-text-left">Sold: 28%</p>
              <progress class="progress is-info" value="28" max="100"></progress>

              <button class="button is-medium is-fullwidth is-primary">Enter Now</button>

              <p><time datetime="2024-06-02 19:00">Draw Sunday 2nd June - 7pm</time></p>
            </div>
          </div>
        </div>
      </div>


      <!-- Column 3 -->
      <div class="column has-text-centered">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://www.gamespot.com/a/uploads/screen_kubrick/1574/15747411/3756082-xbox-series-x-review-promothumb.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content" >
            <div style="height: 120px">
              <p class="title is-4">Win this Xbox Series X 1TB</p>
              <p class="subtitle is-6">Cash Alternative: £300</p>
            </div>

            <div class="content">
              <p class="title is-1 is-spaced has-text-primary">£3.50</p>

              <p class="subtitle is-6 has-text-left">Sold: 66%</p>
              <progress class="progress is-info" value="66" max="100"></progress>

              <button class="button is-medium is-fullwidth is-primary">Enter Now</button>

              <p><time datetime="2024-06-02 19:00">Draw Sunday 2nd June - 7pm</time></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>