<div class="block">
  <figure class="image is-6by3">
    <img
          src="https://cdn.carbuzz.com/gallery-images/1600/1057000/500/1057554.jpg"
          alt="Headline Prize"
    />
  </figure>
</div>


<div class="block">
  <div class="container">
    <h1 class="title is-2 has-text-centered is-uppercase">Upcoming Competitions</h1>
  </div>
</div>

