<div class="block">
  <figure class="image is-6by3">
    <img
          src="https://cdn.carbuzz.com/gallery-images/1600/1057000/500/1057554.jpg"
          alt="Headline Prize"
    />
  </figure>
</div>


<div class="block">
  <div class="container">
    <h1 class="title is-2 has-text-centered is-uppercase">Upcoming Competitions</h1>
  </div>
</div>

<div class="block">
  <div class="columns">
    <div class="column has-text-centered">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://images.idgesg.net/images/article/2021/01/samsung-870-evo-sata-ssd-primary-100873962-orig.jpg?quality=50&strip=all"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-3">Win this 2TB Samsung SSD Evo</p>
          <p class="subtitle is-6">Cash Alternative: £75</p>

          <div class="content">
            <p class="title is-1 is-spaced has-text-primary">£2.00</p>

            <p class="subtitle is-6 has-text-left">Sold: 45%</p>
            <progress class="progress is-info" value="45" max="100"></progress>

            <button class="button is-medium is-fullwidth is-primary">Enter Now</button>

            <p><time datetime="2024-06-02 19:00">Draw Sunday 2nd June - 7pm</time></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column has-text-centered">Second column</div>
    <div class="column has-text-centered">Third column</div>
  </div>
</div>