<section class="hero is-link">
  <div class="hero-body has-text-centered">
    <p class="title">My Account</p>
  </div>
</section>

<section class="hero">
  <div class="hero-body">

    <div class="container is-max-desktop mt-6">
        <div class="columns">
            <div class="column is-half">
                <div class="mx-3">
                    <div class="container">
                        <p class="subtitle is-3"><strong>Login</strong></p>
                        <div class="field">
                            <label class="label">First Name</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Alex" value="Alex">
                                <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Last Name</label>
                            <div class="control has-icons-left">
                                <input class="input" type="email" placeholder="Smith" value="Smith">
                                <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Town / City</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Town / City" value="Dundee">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-city"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">State / County</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="State / County" value="Dundee City">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-map-location-dot"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Postcode</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Postcode" value="DD36HE">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
                <div class="column">

                    <div class="columns is-multiline">
                        <div class="column is-full is-flex is-justify-content-center is-align-items-center">
                            <p class="subtitle is-3"><strong>Register</strong></p>
                        </div>
                        <div class="column is-full">
                            <div class="field">
                            <label class="label">First Name</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Alex" value="Alex">
                                <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Last Name</label>
                            <div class="control has-icons-left">
                                <input class="input" type="email" placeholder="Smith" value="Smith">
                                <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Town / City</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Town / City" value="Dundee">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-city"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">State / County</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="State / County" value="Dundee City">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-map-location-dot"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Postcode</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Postcode" value="DD36HE">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="column is-full">
                            <p class="subtitle is-4 is-pulled-left"><strong>Total</strong></p>
                            <p class="subtitle is-4 is-pulled-right"><strong>£29.70</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


