<section class="hero is-link">
  <div class="hero-body has-text-centered">
    <p class="title">My Account</p>
  </div>
</section>

<section class="hero">
  <div class="hero-body">

    <div class="container is-max-widescreen mt-6">
        <div class="columns">
            <div class="column is-half">
                <div class="mx-3">
                    <div class="container">
                        <form action="/login" method="post">
                            <p class="subtitle is-3"><strong>Login</strong></p>
                            {{#if hasLErrors}}
                            <div class="notification is-danger is-light">
                                {{#each lMessages}}
                                    <p>{{this}}</p>
                                {{/each}}
                            </div>
                            {{/if}}
                            <div class="field">
                                <label class="label">Username or Email Address</label>
                                <div class="control has-icons-left">
                                    <input id="username" name="username" class="input" type="text" placeholder="Username or Email">
                                    <span class="icon is-small is-left">
                                    <i class="fa-solid fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <label class="label">Password</label>
                            <div class="field has-addons">
                                <div class="control is-expanded has-icons-left">
                                    <input id="passwordL" name="passwordL" type="password" class="input" placeholder="Password">
                                    <span class="icon is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <div class="control ">
                                    <button id="passwordLBtn" class="button is-medium" onclick="toggleHidePassword('passwordL', 'passwordLBtn')" type="button">
                                        <i class="fa-solid fa-eye-slash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="hidden" name="csrfToken" value="{{csrfToken}}">
                                    <button type="submit" class="button is-primary is-fullwidth">Login</button>
                                </div>
                            </div>  
                        </form>               
                    </div>
                </div>
            </div>
                <div class="column">
                    <form action="/register" method="post">
                        <div class="columns is-multiline">
                            <div class="column is-full is-flex is-justify-content-center is-align-items-center">
                                <div class="container">
                                    <p class="subtitle is-3"><strong>Register</strong></p>
                                    {{#if hasSErrors}}
                                    <div class="notification is-danger is-light">
                                        {{#each sMessages}}
                                            <p>{{this}}</p>
                                        {{/each}}
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="column is-full">
                                <div class="field">
                                <label class="label">Username</label>
                                <div class="control has-icons-left">
                                    <input id="username" name="username" class="input" type="text" placeholder="Username">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Email Address</label>
                                <div class="control has-icons-left">
                                    <input id="email" name="email" class="input" type="email" placeholder="Email Address">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="field has-addons">
                                    <div class="control is-expanded has-icons-left">
                                        <input id="passwordS" name="passwordS" type="password" class="input" placeholder="Password">
                                        <span class="icon is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                    <div class="control">
                                        <button id="passwordSBtn" class="button is-medium" onclick="toggleHidePassword('passwordS', 'passwordSBtn')" type="button">
                                            <i class="fa-solid fa-eye-slash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Confirm Password</label>
                                <div class="field has-addons">
                                    <div class="control is-expanded has-icons-left">
                                        <input id="pass2" name="pass2" type="password" class="input" placeholder="Password">
                                        <span class="icon is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                    <div class="control">
                                        <button id="pass2Btn" class="button is-medium" onclick="toggleHidePassword('pass2', 'pass2Btn')" type="button">
                                            <i class="fa-solid fa-eye-slash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">First Name</label>
                                <div class="control has-icons-left">
                                    <input id="firstName" name="firstName" class="input" type="text" placeholder="First Name">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Last Name</label>
                                <div class="control has-icons-left">
                                    <input id="lastName" name="lastName" class="input" type="text" placeholder="Last name">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="hidden" name="csrfToken" value="{{csrfToken}}">
                                    <button type="submit" class="button is-primary is-fullwidth">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>    
                </div>
            </div>
        </div>
    </div>
</section>


