<section class="hero is-link">
  <div class="hero-body has-text-centered">
    <p class="title">Order Accepted</p>
  </div>
</section>

<div class="container is-max-widescreen">
    <div class="content my-6">
        <h1 class="title has-text-centered">Thank you!</h1>
        <div class="is-flex is-justify-content-center">
            <button class="button is-static">Order number: 818650011</button>
        </div>
    </div>
    <h2 class="title is-6">Competitions</h2>
    <hr />
    <section class="hero">
        <div class="hero-body">

            <div class="container is-max-widescreen">

                {{# each order.basket}}
                    <div class="columns is-vcentered is-mobile is-multiline">
                        <div class="column is-9">
                            <div class="columns">
                                <div class="column">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                            <img
                                                src="https://bulma.io/assets/images/placeholders/96x96.png"
                                                alt="Placeholder image"
                                            />
                                            </figure>
                                        </div>
                                        <div class="media-content py-1">
                                            <p class="title is-6"><span class="subtitle is-6">Win this {{this.item.title}}!</span> x {{this.qty}}</p>
                                            <p class="subtitle is-6"><strong>Answer:</strong> {{this.questionAnswer}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="columns is-mobile">
                                <div class="column is-flex is-justify-content-right is-align-items-right">
                                    <p class="subtitle is-6"><strong>£19.80</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <p class="subtitle is-6"><strong>Ticket Number(s):</strong> {{this.ticketNumbers}}.</p>
                        </div>
                    </div> 
                {{/each}}
            </div>
        </div>
    </section>
    
    <hr />
    <div class="container">
        <p class="subtitle is-6 is-pulled-left"><strong>Subtotal:</strong></p>
        <p class="subtitle is-6 is-pulled-right"><strong>£10.27</strong></p>
    </div>
    <br />
    <hr />

    <div class="container">
        <p class="subtitle is-6 is-pulled-left"><strong>Payment method:</strong></p>
        <p class="subtitle is-6 is-pulled-right"><strong>Debit/Credit Card</strong></p>
    </div>
    <br />
    <hr />

    <div class="container">
        <p class="subtitle is-6 is-pulled-left"><strong>Total</strong></p>
        <p class="subtitle is-6 is-pulled-right"><strong>£10.27</strong></p>
    </div>
    <br />
    <hr />

    <div class="container is-flex is-justify-content-center is-align-items-center">
        <a href="/" class="button is-medium is-primary">Return to Homepage</a>
    </div>
    

</div>