<section class="hero is-link">
  <div class="hero-body has-text-centered">
    <p class="title">Order Accepted</p>
  </div>
</section>

<div class="container is-max-desktop">
    <div class="content my-6">
        <h1 class="title">Competition Details</h1>
    </div>
    <hr />
    <h2 class="title is-4">Xbox Series X 1TB</h2>
    <div class="content">
        <ul>
            <li>Introducing Xbox Series X, the fastest, most powerful Xbox ever. Play thousands of titles from four generations of consoles—all games look and play best on Xbox Series X.</li>
            <li>Experience next-gen speed and performance with the Xbox Velocity Architecture, powered by a custom SSD and integrated software</li>
            <li>Play thousands of games from four generations of Xbox with Backward Compatibility, including optimised titles at launch</li>
        </ul>
    </div>
    
    <hr />

    <div class="content my-6">
        <h1 class="title">FAQ</h1>
    </div>
    <div class="container">
      
    </div>

</div>