<section class="hero is-link">
    <div class="hero-body has-text-centered">
        <p class="title">Pay with Card</p>
    </div>
</section>

<div class="columns is-multiline my-6">
    <div class="column is-one-third"></div>
    <div class="column is-one-third is-max-desktop" style="min-width: 400px">
        <div class="container">
            <div class="mx-3">
                <div class="block has-text-centered"><strong id="counter">600</strong> to complete the order.</div>
                <form action="/processCard" method="post">
                    <div class="container">
                        <div class="field">
                            <label class="label">Card Number</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Card Number">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-credit-card"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label class="label">Expiry date</label>
                                <p class="control is-expanded has-icons-left">
                                    <input class="input" type="text" placeholder="MM/YY">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </span>
                                </p>
                                </div>
                                <div class="field">
                                    <label class="label">Security Code</label>
                                    <p class="control is-expanded has-icons-left has-icons-right">
                                        <input class="input" type="text" placeholder="CVV">
                                        <span class="icon is-small is-left">
                                            <i class="fa-solid fa-shield"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>    
                        <div class="field-body">
                            <div class="field my-4">
                                <div class="control">
                                    <input type="hidden" name="csrfToken" value="{{csrfToken}}">
                                    <button type="submit" class="button is-link is-fullwidth">Pay £{{formatPrice totalPrice}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>    
            </div>
        </div>
    </div>
    <div class="column is-one-third"></div>
</div>

<script>
    // Set the total countdown time in seconds (10 minutes)
    const totalCountdownTime = 10 * 60;

    // Function to start the countdown timer
    function startTimer(initialCountdownTime) {
        let countdownTime = initialCountdownTime;

        const intervalID = setInterval(function() {
            var div = document.querySelector("#counter");

            // Decrement the countdown time
            countdownTime--;

            if (countdownTime <= 0) {
                clearInterval(intervalID);
                window.location.replace("/basket");
            } else {
                // Store the current countdown time in sessionStorage
                sessionStorage.setItem('currentCountdownTime', countdownTime);

                var minutes = Math.floor(countdownTime / 60);
                var seconds = countdownTime % 60;

                if (minutes > 0) {
                    div.textContent = `${minutes} Minutes ${seconds} Seconds`;
                } else {
                    div.textContent = `${seconds} Seconds`;
                }
            }
        }, 1000);
    }

    // On page load
    window.onload = function() {
        let initialCountdownTime;
        const storedCurrentTime = sessionStorage.getItem('currentCountdownTime');

        // If the stored current time is available and valid, use it
        if (storedCurrentTime) {
            initialCountdownTime = parseInt(storedCurrentTime);
        } else {
            // Initialize the countdown time
            initialCountdownTime = totalCountdownTime;
            // Store the initial countdown time in sessionStorage
            sessionStorage.setItem('currentCountdownTime', initialCountdownTime);
        }

        // If the timer is already expired
        if (initialCountdownTime <= 0) {
            window.location.replace("/basket");
        } else {
            startTimer(initialCountdownTime);
        }
    };

    // Initialize the div with the initial time
    document.querySelector("#counter").textContent = `__ Minutes __ Seconds`;
</script>