<section class="hero is-link">
    <div class="hero-body has-text-centered">
        <p class="title">Pay with Card</p>
    </div>
</section>

<div class="columns is-multiline my-6">
    <div class="column is-one-third"></div>
    <div class="column is-one-third is-max-desktop" style="min-width: 400px">
        <div class="container">
            <div class="mx-3">
                <div class="block has-text-centered"><strong id="counter">__ Minutes __ Seconds</strong> to complete the order.</div>
                <form action="/processCard" method="post">
                    <div class="container">
                        <div class="field">
                            <label class="label">Card Number *</label>
                            <div class="control has-icons-left">
                                <input id="cardNumber" name="cardNumber" class="input" type="text" placeholder="Card Number" required>
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-credit-card"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label class="label">Expiry date *</label>
                                <p class="control is-expanded has-icons-left">
                                    <input id="cardExpiry" name="cardExpiry" class="input" type="text" placeholder="MM/YY" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </span>
                                </p>
                                </div>
                                <div class="field">
                                    <label class="label">Security Code *</label>
                                    <p class="control is-expanded has-icons-left has-icons-right">
                                        <input id="cardCvv" name="cardCvv" class="input" type="text" placeholder="CVV" required>
                                        <span class="icon is-small is-left">
                                            <i class="fa-solid fa-shield"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>    
                        <div class="field-body">
                            <div class="field my-4">
                                <div class="control">
                                    <input type="hidden" name="csrfToken" value="{{csrfToken}}">
                                    <button type="submit" class="button is-link is-fullwidth">Pay £{{formatPrice totalPrice}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>    
            </div>
        </div>
    </div>
    <div class="column is-one-third"></div>
</div>

<script>
    // Function to start the countdown timer
    function startTimer(expirationTime) {
        const intervalID = setInterval(function () {
            var div = document.querySelector("#counter");

            // Calculate remaining time
            const now = new Date().getTime();
            const remainingTime = expirationTime - now;

            // If remaining time is less than or equal to 0, redirect
            if (remainingTime <= 0) {
                clearInterval(intervalID);
                window.location.replace("/basket");
            } else {
                // Calculate minutes and seconds
                const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

                // Display remaining time
                div.textContent = `${minutes} Minutes ${seconds} Seconds`;
            }
        }, 1000);
    }

    // On page load
    window.onload = function () {
        const storedExpirationTime = sessionStorage.getItem('expirationTime');

        // If stored expiration time is available and valid, start timer
        if (storedExpirationTime && !isNaN(storedExpirationTime)) {
            const expirationTime = parseInt(storedExpirationTime);
            startTimer(expirationTime);
        } else {
            // Calculate expiration time (10 minutes from now)
            const expirationTime = new Date().getTime() + (10 * 60 * 1000);
            // Store expiration time in sessionStorage
            sessionStorage.setItem('expirationTime', expirationTime);
            // Start timer
            startTimer(expirationTime);
        }
    };

    // Initialize the div with the initial time
    document.querySelector("#counter").textContent = `__ Minutes __ Seconds`;
</script>