<div class="block">
  <section class="hero is-link">
    <div class="hero-body has-text-centered">
      <p class="title">Responsible Playing</p>
    </div>
  </section>
</div>

<div class="container is-max-desktop">
    <div class="content">
        <h2>PLAY RESPONSIBLY</h2>

        <p>[Website] is a paid and free entry raffle website that has been designed to be a fun and sociable way to win amazing prizes. We are not regulated by the UK Gambling Commission but remain committed to providing a service that is socially responsible. We’ve designed our platform to be as much about social interaction as possible regardless of whether you choose to play in the raffles on a paid or free basis.</p>

        <h3>If you think that you are having problems with gambling whilst playing, we want to help you as quickly as we can.</h3>

        <h4>SIGNS THAT YOU MAY HAVE A GAMBLING PROBLEM</h4>
        <ul>
            <li>Treating playing as a way of making money, rather than a source of entertainment</li>
            <li>Attempting to chase losses or playing to escape financial difficulty</li>
            <li>Spending money and time beyond your means</li>
            <li>Selling possessions and borrowing money in order to keep playing</li>
            <li>Unable or struggling to manage or stop playing</li>
        </ul>

        <h4>HOW TO PAUSE OR TAKE A BREAK</h4>
        <p>Log in and click on Safe Playing to take a time out.</p>

        <h4>ACTIONS WE MAY TAKE</h4>
        <p>As a responsible business that wishes to ensure that all of its customers play for fun and within their means, we may contact you if we see any behavior that we think is unusual or excessive.</p>
    </div>
</div>