<div class="block">
  <section class="hero is-link">
    <div class="hero-body has-text-centered">
      <p class="title">Website Security</p>
    </div>
  </section>
</div>


<div class="container is-max-desktop">
    <div class="content">
        <p>Have you spotted a security vulnerability?</p>

        <p>Email us at: <a href="mailto:EMAILADDRESS">security@website.com</a>.</p>

        <p>If you’ve identified a security vulnerability impacting our website, please feel free to let us know by email as soon as you can:</p>

        <ul>
            <li>You will need to include your name and contact details.</li>
            <li>Please include as much evidence as you can.</li>
            <li>We take all reports extremely seriously and will investigate them fully, and if necessary call the authorities.</li>
        </ul>

        <p>Due to the volume of correspondence we receive including hoax reports, we do not engage with anonymous reports on a one to one basis.</p>
    </div>
</div>