<div class="block">
  <section class="hero is-link">
    <div class="hero-body has-text-centered">
      <p class="title">Previous Winners</p>
    </div>
  </section>
</div>



<div class="block">
  <div class="container">
    <div class="columns is-vcentered">

      <!-- Column 1 -->
      <div class="column has-text-centered">
            <a href="/winner" class="is-link">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img
                            src="https://bulma.io/assets/images/placeholders/128x128.png"
                            alt="Placeholder image"
                        />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div style="height: 120px">
                        <p class="title is-4">Michael Won This BMW S1000RR!</p>
                        <p class="subtitle is-6">Winning ticket - #6036! Draw date: 21/04/2024</p>
                        </div>
                    </div>
                </div>
            </a>
      </div>

      <!-- Column 2 -->
      <div class="column has-text-centered">
        <a href="/winner" class="is-link">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img
                        src="https://bulma.io/assets/images/placeholders/128x128.png"
                        alt="Placeholder image"
                    />
                    </figure>
                </div>
                <div class="card-content">
                    <div style="height: 120px">
                    <p class="title is-4">Michael Won This BMW S1000RR!</p>
                    <p class="subtitle is-6">Winning ticket - #6036! Draw date: 21/04/2024</p>
                    </div>
                </div>
            </div>
        </a>
      </div>


      <!-- Column 3 -->
      <div class="column has-text-centered">
        <a href="/winner" class="is-link">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img
                        src="https://bulma.io/assets/images/placeholders/128x128.png"
                        alt="Placeholder image"
                    />
                    </figure>
                </div>
                <div class="card-content">
                    <div style="height: 120px">
                    <p class="title is-4">Michael Won This BMW S1000RR!</p>
                    <p class="subtitle is-6">Winning ticket - #6036! Draw date: 21/04/2024</p>
                    </div>
                </div>
            </div>
        </a>
      </div>
    </div>
  </div>
</div>