<section class="hero is-info">
  <div class="hero-body">
    <p class="title">Account Details</p>
  </div>
</section>

{{> userNav}}

<section class="section">
    <h2 class="title">
        Update Details
    </h2>
</section>

<div class="mx-3">
    <div class="container">
        <div class="field">
            <label class="label">First Name</label>
            <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Alex" value="Alex">
                <span class="icon is-small is-left">
                <i class="fa-solid fa-user"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Last Name</label>
            <div class="control has-icons-left">
                <input class="input" type="email" placeholder="Smith" value="Smith">
                <span class="icon is-small is-left">
                <i class="fa-solid fa-user"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Display Name <span class="has-text-weight-light">(This will be how your name will be displayed in the account section and in reviews)</span></label>
            <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Smith" value=" Alex Smith">
                <span class="icon is-small is-left">
                <i class="fa-solid fa-id-card"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Email Address</label>
            <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email" value="alex@smith.com">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
                </span>
            </p>
        </div>

        <label class="label">Date of Birth</label>
        <div class="field is-grouped">
            <p class="control">
                <span class="select">
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                </span>
            </p>
            <p class="control">
                <span class="select">
                <select>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                </select>
                </span>
            </p>
            <p class="control">
                <span class="select">
                <select>
                    <option>2024</option>
                    <option>2023</option>
                    <option>2022</option>
                </select>
                </span>
            </p>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-primary">
                    Save Changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr></hr>


<section class="section">
    <h2 class="title">
        Change Password
    </h2>
</section>

<div class="mx-3">
    <div class="container">
        <label class="label">Current Password</label>
        <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
            <input type="password" class="input" placeholder="Current Password">
            <span class="icon is-left">
                <i class="fas fa-lock"></i>
            </span>
            </div>
            <div class="control ">
                <a class="button is-medium">
                    <i class="fa-solid fa-eye-slash"></i>
                </a>
            </div>
        </div>
        
        <label class="label">New Password</label>
        <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
            <input type="password" class="input" placeholder="New Password">
            <span class="icon is-left">
                <i class="fas fa-lock"></i>
            </span>
            </div>
            <div class="control ">
                <a class="button is-medium">
                    <i class="fa-solid fa-eye-slash"></i>
                </a>
            </div>
        </div>

        <label class="label">Confirm New Password</label>
        <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
            <input type="password" class="input" placeholder="Confirm New Password">
            <span class="icon is-left">
                <i class="fas fa-lock"></i>
            </span>
            </div>
            <div class="control ">
                <a class="button is-medium">
                    <i class="fa-solid fa-eye-slash"></i>
                </a>
            </div>
        </div>

        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-primary">
                    Save Changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>