<section class="hero is-info">
  <div class="hero-body has-text-centered">
    <p class="title">My Addresses</p>
  </div>
</section>

{{> userNav}}

<div class="container">
    <section class="section">
    <h2 class="subtitle">
        The following addresses will be used on the checkout page by default.
    </h2>
    </section>
    
    <div class="columns">
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Billing Address</p>
                </header>
                <div class="card-content">
                    <div class="content">
                    <p>Name</p>
                    <p>Address Line 1</p>
                    <p>Address Line 2</p>
                    <p>Town</p>
                    <p>Postcode</p>
                    <p>County</p>
                    <p>Phone Number</p>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Edit</a>
                </footer>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Shipping Address</p>
                </header>
                <div class="card-content">
                    <div class="content">
                    <p>Name</p>
                    <p>Address Line 1</p>
                    <p>Address Line 2</p>
                    <p>Town</p>
                    <p>Postcode</p>
                    <p>County</p>
                    <p>Phone Number</p>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Edit</a>
                </footer>
            </div>
        </div>
    </div>
</div>

