<section class="hero is-info">
  <div class="hero-body has-text-centered">
    <p class="title">My Account</p>
  </div>
</section>
    
{{> userNav}}




<div class="container is-max-desktop">
    <div class="content my-6">
        <h1 class="title">Competition Entries</h1>
    </div>
    <div class="tabs is-centered mt-6 is-boxed">
    <ul>
        <li class="is-active"><a>Current</a></li>
        <li><a>Past</a></li>
    </ul>
    </div>

    <div class="columns is-desktop">
        <div class="column">
            <div class="box">
                <div class="has-text-centered">
                    <div>
                        <p class="title is-6" style="height: 50px">Win this LEGO StarWars Millennium Falcon</p>
                        <p class="subtitle is-6"><strong>Draw Date:</strong> 12/05/24 9:00PM</p>
                        <p class="subtitle is-6">You have<strong> 13 </strong>tickets</p>
                        <a href="" class="button is-medium is-fullwidth is-link">View Ticket Numbers</a>
                    </div>
                </div>
            </div>
        </div>  
        <div class="column">
            <div class="box">
                <div class="has-text-centered">
                    <div>
                        <p class="title is-6" style="height: 50px">Win this 2TB Samsung SSD Evo</p>
                        <p class="subtitle is-6"><strong>Draw Date:</strong> 12/05/24 9:00PM</p>
                        <p class="subtitle is-6">You have<strong> 13 </strong>tickets</p>
                        <a href="" class="button is-medium is-fullwidth is-link">View Ticket Numbers</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="column">
            <div class="box">
                <div class="has-text-centered">
                    <div>
                        <p class="title is-6" style="height: 50px">Win this Xbox Series X 1TB</p>
                        <p class="subtitle is-6"><strong>Draw Date:</strong> 12/05/24 9:00PM</p>
                        <p class="subtitle is-6">You have<strong> 13 </strong>tickets</p>
                        <a href="" class="button is-medium is-fullwidth is-link">View Ticket Numbers</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>