<section class="hero is-info">
  <div class="hero-body has-text-centered">
    <p class="title">My Account</p>
  </div>
</section>
    
{{> userNav}}




<div class="container is-max-widescreen">
    <div class="content my-6">
        <h1 class="title">Competition Entries</h1>
    </div>
    <div class="tabs-wrapper">
        <div class="tabs is-centered mt-6 is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Current</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Past</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tabs-content">
            <ul>
                <li class="is-active">
                    <div class="columns is-multiline">
                        <div class="column is-one-third">
                            <div class="box">
                                <div class="has-text-centered">
                                    <div>
                                        <p class="title is-6" style="height: 50px">Win this LEGO StarWars Millennium Falcon</p>
                                        <p class="subtitle is-6"><strong>Draw Date:</strong> 12/05/24 9:00PM</p>
                                        <p class="subtitle is-6">You have<strong> 13 </strong>tickets</p>
                                        <button onclick="toggleElement('comp_1')" class="button is-medium is-fullwidth is-link">View Ticket Numbers</button>
                                        <br />
                                        <p id="comp_1" class="notification" style="display:none">61469, 77048, 68049, 02551, 24551, 71252, 91010, 80851, 17251, 13489, 71525, 45160, 96716, 5632</p>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="column is-one-third">
                            <div class="box">
                                <div class="has-text-centered">
                                    <div>
                                        <p class="title is-6" style="height: 50px">Win this 2TB Samsung SSD Evo</p>
                                        <p class="subtitle is-6"><strong>Draw Date:</strong> 12/05/24 9:00PM</p>
                                        <p class="subtitle is-6">You have<strong> 13 </strong>tickets</p>
                                        <button onclick="toggleElement('comp_2')" class="button is-medium is-fullwidth is-link">View Ticket Numbers</button>
                                        <br />
                                        <p id="comp_2" class="notification" style="display:none">61461, 17251, 13489, 71525, 45160, 96716, 5632</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="column is-one-third">
                            <div class="box">
                                <div class="has-text-centered">
                                    <div>
                                        <p class="title is-6" style="height: 50px">Win this Xbox Series X 1TB</p>
                                        <p class="subtitle is-6"><strong>Draw Date:</strong> 12/05/24 9:00PM</p>
                                        <p class="subtitle is-6">You have<strong> 13 </strong>tickets</p>
                                        <button onclick="toggleElement('comp_3')" class="button is-medium is-fullwidth is-link">View Ticket Numbers</button>
                                        <br />
                                        <p id="comp_3" class="notification" style="display:none">61469, 77452</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </li>
                <li>
                    <div class="columns is-desktop">
                        <div class="column is-one-third">
                            <div class="box">
                                <div class="has-text-centered">
                                    <div>
                                        <p class="title is-6" style="height: 50px">Win this.....</p>
                                        <p class="subtitle is-6"><strong>Draw Date:</strong> 12/05/24 9:00PM</p>
                                        <p class="subtitle is-6">You have<strong> 6 </strong>tickets</p>
                                        <a href="" class="button is-medium is-fullwidth is-link">View Ticket Numbers</a>
                                        <br />
                                        <p class="notification">61469, 77048, 68049, 02551, 24551, 71252</p>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


