<section class="hero is-info">
  <div class="hero-body">
    <p class="title">My Account</p>
  </div>
</section>
    
<div class="columns is-multiline is-gapless my-4">
  <div class="column mx-1"><button class="button is-link is-fullwidth">Dashboard</button></div>
  <div class="column mx-1"><button class="button is-link is-fullwidth is-outlined">Address</button></div>
  <div class="column mx-1"><button class="button is-link is-fullwidth is-outlined">Account Details</button></div>
  <div class="column mx-1"><button class="button is-link is-fullwidth is-outlined">Communication Preferences</button></div>
  <div class="column mx-1"><button class="button is-link is-fullwidth is-outlined">Safe Playing</button></div>
  <div class="column mx-1"><button class="button is-link is-fullwidth is-outlined">Logout</button></div>
</div>


<div class="container">
    <nav class="panel">
    <p class="panel-heading">Your Competition Entries</p>
    <div class="panel-block">
        <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search" />
        <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
        </span>
        </p>
    </div>
    <p class="panel-tabs">
        <a class="is-active">Current</a>
        <a>Past</a>
    </p>
    <a class="panel-block is-active">
        <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        Xbox Series X 1TB
    </a>
    <a class="panel-block">
        <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        LEGO StarWars Millennium Falcon 
    </a>
    <a class="panel-block">
        <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        2TB Samsung SSD Evo
    </a>
    </nav>
</div>