<section class="hero is-info">
  <div class="hero-body">
    <p class="title">My Account</p>
  </div>
</section>
    
<div class="columns is-multiline is-gapless my-4">
  <div class="column mx-1"><button class="button is-link is-fullwidth">Dashboard</button></div>
  <div class="column mx-1"><button class="button is-link is-fullwidth is-outlined">Address</button></div>
  <div class="column mx-1"><button class="button is-link is-fullwidth is-outlined">Account Details</button></div>
  <div class="column mx-1"><button class="button is-link is-fullwidth is-outlined">Communication Preferences</button></div>
  <div class="column mx-1"><button class="button is-link is-fullwidth is-outlined">Safe Playing</button></div>
  <div class="column mx-1"><button class="button is-link is-fullwidth is-outlined">Logout</button></div>
</div>