<section class="hero is-info">
  <div class="hero-body">
    <p class="title">My Account</p>
  </div>
</section>
    

<div class="container"></div>

<nav class="level">
  <p class="level-item has-text-centered">
    <a class="link is-info">Dashboard</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Address</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Account Details</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Communication Preferences</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Safe Playing</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Logout</a>
  </p>
</nav>


