<section class="hero is-info">
  <div class="hero-body">
    <p class="title">Rewards</p>
  </div>
</section>

{{> userNav}}

<section class="section">
    <h2 class="title">
        Referrals
    </h2>
    <h2 class="subtitle">
        Thank you for spreading the word! Every time you refer someone, you earn points towards rewards.
    </h2>
</section>

<div class="mx-3">
    <div class="container">
        <p class="subtitle"> People you've signed up: 1</p> 

        <p>Your Referral Code:</p>


        <div class="box has-background-success has-text-black-bis">[REFERRAL CODE]</div>

        <div class="field has-addons">
            <p class="control">
                <button class="button">
                <span class="icon is-small">
                    <i class="fa-solid fa-copy"></i>
                </span>
                <span>Copy</span>
                </button>
            </p>
            <p class="control">
                <button class="button is-facebook">
                <span class="icon is-small">
                    <i class="fa-brands fa-square-facebook"></i>
                </span>
                <span>Facebook</span>
                </button>
            </p>
            <p class="control">
                <button class="button is-info">
                <span class="icon is-small">
                    <i class="fa-brands fa-square-twitter"></i>
                </span>
                <span>Twitter</span>
                </button>
            </p>
            <p class="control">
                <button class="button is-success">
                <span class="icon">
                    <i class="fa-brands fa-square-whatsapp"></i>
                </span>
                <span>WhatsApp</span>
                </button>
            </p>
            <p class="control">
                <button class="button">
                <span class="icon is-small">
                    <i class="fa-solid fa-square-envelope"></i>
                </span>
                <span>Email</span>
                </button>
            </p>
        </div>
    </div>
</div>

<hr></hr>

