<section class="hero is-info">
  <div class="hero-body">
    <p class="title">Rewards</p>
  </div>
</section>

{{> userNav}}


<section class="section">
    <h2 class="title">
        My Rewards
    </h2>
    <h2 class="subtitle">
        Earn rewards the more you play and for referring friends!
    </h2>
</section>



<div class="columns">
    <div class="column">
        <article class="message">
            <div class="message-body">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left is-large">
                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-coins"></i></span>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Points: 46</p>
                            <p class="subtitle is-6">Equals 0.5 GBP</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="column">
        <article class="message">
            <div class="message-body">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-medal"></i></span>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Bronze (Level 2)</p>
                            <p class="subtitle is-6">655 Points to Silver</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>




<hr></hr>

<section class="section">
    <h2 class="title">
        Referrals
    </h2>
    <h2 class="subtitle">
        Thank you for spreading the word! Every time you refer someone, you earn points towards rewards.
    </h2>
</section>

<div class="mx-3">
    <div class="container">
        <p class="subtitle"> People you've signed up: 1</p> 

        <p>Your Referral Code:</p>
        <div class="box has-background-success has-text-black-bis">[REFERRAL CODE]</div>

        <div class="field has-addons">
            <p class="control">
                <button class="button">
                <span class="icon is-small">
                    <i class="fa-solid fa-copy"></i>
                </span>
                <span>Copy</span>
                </button>
            </p>
            <p class="control">
                <button class="button is-facebook">
                <span class="icon is-small">
                    <i class="fa-brands fa-square-facebook"></i>
                </span>
                <span>Facebook</span>
                </button>
            </p>
            <p class="control">
                <button class="button is-info">
                <span class="icon is-small">
                    <i class="fa-brands fa-square-twitter"></i>
                </span>
                <span>Twitter</span>
                </button>
            </p>
            <p class="control">
                <button class="button is-success">
                <span class="icon">
                    <i class="fa-brands fa-square-whatsapp"></i>
                </span>
                <span>WhatsApp</span>
                </button>
            </p>
            <p class="control">
                <button class="button">
                <span class="icon is-small">
                    <i class="fa-solid fa-square-envelope"></i>
                </span>
                <span>Email</span>
                </button>
            </p>
        </div>
    </div>
</div>

<hr></hr>

