<section class="hero is-info">
  <div class="hero-body has-text-centered">
    <p class="title">Safe Playing</p>
  </div>
</section>

{{> userNav}}

<div class="container is-max-widescreen">
    <section class="section">
        <h2 class="title">
            Play Responsibly
        </h2>
        <h2 class="subtitle">
            This is a paid and free entry raffle website that has been designed to be a fun and sociable way to win amazing prizes. We are not regulated by the UK Gambling Commission but remain committed to providing a service that is socially responsible.
        </h2>
    </section>


    <section class="section">
        <h2 class="title">
            Signs that you may have a gambling problem
        </h2>
        <h2 class="content">
            <ul>
                <li>Treating playing as a way of making money, rather than a source of entertainment</li>
                <li>Attempting to chase losses or playing to escape financial difficulty</li>
                <li>Spending money and time beyond your means</li>
                <li>Selling possessions and borrowing money in order to keep playing</li>
                <li>Unable or struggling to manage or stop playing</li>
            </ul>
        </h2>
    </section>

    <section class="section">
        <h2 class="title">
            Pause or stop playing
        </h2>
        <h2 class="subtitle">
            If you feel the need to take a short break from playing please choose from below. This will prevent you from being able to make payments for the duration selected.
        </h2>
    </section>

    <div class="container">
        <div class="control">
            <label class="label">Take time out</label>
            <p>
                <input class="is-checkradio" id="Radio1Day" type="radio" name="safePlayingRadio">
                <label for="Radio1Day">1 Day</label>
            </p>
            <p>
                <input class="is-checkradio" id="Radio1Week" type="radio" name="safePlayingRadio">
                <label for="Radio1Week">1 Week</label>
            </p>
            <p>
                <input class="is-checkradio" id="Radio1Month" type="radio" name="safePlayingRadio">
                <label for="Radio1Month">1 Month</label>
            </p>
            <p>
                <input class="is-checkradio" id="Radio3Month" type="radio" name="safePlayingRadio">
                <label for="Radio3Month">3 Months</label>
            </p>
        </div>
        <br/>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-link">
                        <span class="icon">
                            <i class="fa-solid fa-floppy-disk"></i>
                        </span>
                        <span>Save Changes</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>