body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.tabs-content li {
  display: none;
  list-style: none;
}

.tabs-content li.is-active {
  display: block;
}



/*               CSS for Index Page Large Image Banner                       */
.homeBannerContainer {
    position: relative;
    max-width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}
.homeBannerOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    color: white;
    padding: 20px;
    z-index: 1;
    transition: opacity 1s ease-in-out;
}

.homeBannerNavButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2; /* Ensure the buttons are on top of the overlay */
}
.homeBannerNavButton.left {
    left: 10px;
}
.homeBannerNavButton.right {
    right: 10px;
}
.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}